/*1.intro.html
.external{
    color:blue;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    background-color: #e0f7ff;
    padding:10px;
    border-radius: 8px;
    display: inline;

}*/

/*2.selectors.html
h1{
    text-align: center;
    color: #0077b6;
    margin-bottom: 30px;
}

.card{
    width: 320px;
    margin: 20px auto;
    background: #f5f9ff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.15);
    text-align: center;
}
#username{
    color: #023e8a;
    font-size: 22px;
    margin: 10px 0 5px;
}

.role,.bio{
    color:#555;
    line-height: 1.4;
}
.card,.social-links a{
    text-decoration: none;
    color: #0077b6;
    margin: 0 8px;
    font-weight: bold;
}

a[target="_blank"]{
    border-bottom: 2px dashed #00b4d8;
}

a:hover{
    color: #023e8a;
}

.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border:3px solid #0077b6;
}*/
/* 3.backgrounds.html
.hero{
    height:100vh;
    background:linear-gradient(
        rgba(0,119,182,0.8),
        rgba(2,62,138,0.8)
    ),
    url("https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1600&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: antiquewhite;
}

.hero,.content{
    max-width:100%;
    padding: 20px;
}

.btn{
    display:inline-block;
    background-color: #00b4d8;
    color: white;
    text-decoration: none;
    padding: 12px 24px ;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: bold;
    transition:background-color 0.3s ease;
}

.btn:hover{
    background-color: #023e8a;
}
*/
 /* 4-index.html
body{
    font-family: Arial;
    background: #f7f7ff;
    margin:0;
    padding:50px;
    text-align: center;
}

.container{
    display:flex;
    gap: 20px;
    justify-content: center;
}

.card{
    width:220;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background: white;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

.card p{
    display:block;
    margin-top: 10px;
}
 button{
margin-top: 15px;
padding: 10px 20px;
background: black;
color: white;
cursor: pointer;
border-radius: 5px;
}

.basic{border-color:#3498db;}
.standard{border-color: #27ae60;}
.premium{border-color: #e67322;}    
*/

/* 5-flexbox.html
body{
    margin:0;
    font-family: Arial;
}

.navbar{
    background: #1a1a1a;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.nav-links{
    display:flex;
    list-style: none;
    gap:30px
}

.nav-links li{
    cursor:pointer;
}

.hero{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(100deg,#7f7fff,#d9d9ff);
}

 button {
    margin-top: 15px;
    background: black;
    color: white;
    padding:12px 25px ;
    border: none;
    cursor:pointer;
    border-radius: 5px;
}
*/

/* 6-photogal.html
body{
    font-family: Arial;
    text-align:center;
    background: #f7f7f7;
}

.title{
    margin:20px;
}

.gallery{
    display:"flex";
    flex-wrap:wrap;
    gap:10px;
    justify-content:center;
    padding:20px;
}

.gallery img{
    width:250px;
    height:180px;
    object-fit:cover;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}
*/

/* 7-grid.html
 body{
    font-family: Arial;
    padding: 20px;
    background: #f5f5f5;
 }

 .title{
    text-align: center;
    margin-bottom:20px;
 }

 .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
 }

 .item{
    height: 150px;
    background:linear-gradient(135deg,#f7f7ff,#c1c1ff);
    border-radius: 10px;
 }

 .tall{
    grid-row: span 2;
    height: 320px;
 }
 
 .wide{
    grid-column: span 2;
 }
*/

/* 8-grid-dash.html
body{
    font-family:Arial;
    background:#f5f5f5;
    padding:20px;
}

.title{
    text-align:center;
    margin-bottom: 20px;
}

.dashboard{
    display: grid;
    grid-template-columns: repeat(autofit,minmax(200px,1fr));
    gap:15px;
    padding: 10px;
}

.card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    height:120px;
}

.card-big{
    grid-column: span 2;
    height:200px;
}
*/

/* 9-Positions.html
body{
    font-family: Arial;
}
#openBtn{
    padding: 10px 20px;
    margin:40px;
    background: #1a1a1a;
    color: white;
    border: none;
    cursor:pointer;
    border-radius: 5px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    display:none;
    justify-content: center;
    align-items: center;
    
}

.modal{
    background: white;
    padding:25px;
    width:300px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    
}
*/

/* 10-box.html
.box{
    width: 120px;
    height: 50px;
    background: lightblue;
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    border-radius: 8px;
}

.static{
    position: static;
}

.relative{
    position: relative;
    top:20px;
    left:20px;
    background: lightgreen;
}

.absolute{
    position: absolute;
    top:20px;
    right:20px;
    background:orange;
}

.fixed{
    position:fixed;
    bottom:20px;
    right:20px;
    background: tomato;
}
*/

/* 11-Z.html
.card{
    width: 150px;
    height:80px;
    padding-top: 30px;
    text-align: center;
    color: white;
    position: absolute;
    border-radius: 8px;
}

.card1{
    background: #3498db;
    top:40px;
    left:40px;
    z-index:1;
}

.card2{
    background: #e67e22;
    top:60px;
    left:80px;
    z-index: 5;
}
.card3{
    background:#2ecc71;
    top: 80px;
    left: 120px;
    z-index: 10;
}
*/
 
/*12-spinner.html
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f7f7f7;
}

.spinner{
    width:60px;
    height:60px;
    border:6px solid #ddd;
    border-top-color:#3498db;
    border-radius: 50%;
    animation:spin 1s linear infinite;
}

@keyframes spin{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

/* 13-shadow.html
body{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f7f7f7;
    font-family: Arial;
}

.card{
    width:300px;
    background:white;
    padding:20px;
    border-radius: 15px;
    box-shadow: 0 0 0rgba(0,0,0,0);
    transition:0.4s;
    text-align:center;
}

.card img{
    width:100%;
    border-radius: 10px;
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

.card:hover img{
    transform:scale(1.05);
}
*/
/* 14-transform.html
body{
    height:50vh;
    display:flex;
    background: #f2f2f2;
    justify-content: center;
    align-items: center;
}

margin-btn{
    padding: 15px 40px;
    background: #ff88c2;
    color: white;
    font-size: 20px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.magic-btn:hover{
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0px 8px 15px rgba(0,0,0,0.2);
}